button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color-action);
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: var(--color-white);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  padding: 12px 24px;
  text-transform: uppercase;
}

button:hover {
  -webkit-box-shadow: 0px 1px 5px 0px hsla(var(--c-shadow), 0.2),
    0px 2px 2px 0px hsla(var(--c-shadow), 0.14),
    0px 3px 1px -2px hsla(var(--c-shadow), 0.12);
  box-shadow: 0px 1px 5px 0px hsla(var(--c-shadow), 0.2),
    0px 2px 2px 0px hsla(var(--c-shadow), 0.14),
    0px 3px 1px -2px hsla(var(--c-shadow), 0.12);
  outline: none !important;
}

button:focus,
button:active {
  -webkit-box-shadow: 0px 0px 5px 0px hsla(var(--c-shadow), 0.2),
    0px 1px 2px 0px hsla(var(--c-shadow), 0.14),
    0px 2px 1px -2px hsla(var(--c-shadow), 0.12);
  box-shadow: 0px 0px 5px 0px hsla(var(--c-shadow), 0.2),
    0px 1px 2px 0px hsla(var(--c-shadow), 0.14),
    0px 2px 1px -2px hsla(var(--c-shadow), 0.12);
}
